.header {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0px auto;
}

.navLink {
  text-decoration: none;
  width: 170px;
  height: 50px;
  font-size: 20px;
  border: 3;
  letter-spacing: 3px;
  line-height: 50px;
  outline: transparent;
  /* text */
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 15px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}
